body
{
    background-color: #000;
    color: #fff;
    margin:0px;
    padding: 0px;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1
{
    margin: 0.5rem 1rem;
}

header nav ul
{
    display: flex;
    list-style: none;
    
}

header nav ul li a
{
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #ddd;
    transition: background-color 1s ease;
}
header nav ul li a:hover
{
    background-color: #eee;
    color: #333;
}

main
{
    background-color: #ddd ;
    color: #333;
    padding: 1rem;
}

main h2
{
    margin: 0.2px;
}
a
 {
        
        line-height: 1.5;
 }      